/*Website Styles*/

* {
  font-size: 100;
}

body {
  background-color: deepskyblue;
  color:indigo;
  font-family: helvetica; arial;
  font-size: 20px;
}

h1 {
  font-size: 36px;
  color: red;
}

h2 {
  font-size: 24px;
  color: green;
}

h3 {
  font-size: 18px;
  color: darkgreen;
}

footer {
  color: darkblue;
}

{
  font-famlily: 'castoro', lato;
}

h1, h2, h3, {
  font-weight: normal;
}
