/*Website Styles*/

* {
  font-size: 100;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-repeat: repeat;
  background-image: url(images/banner.jpg);
  background-color: lightblue;
  color:indigo;
  font-family: helvetica; arial;
  font-size: 20px;
}

h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  color: red;
}

h2 {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  color: green;
}

h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  color: darkgreen;
}

footer {
  color: darkblue;
}

{
  font-famlily: 'castoro', lato;
}

p {
  line-height: 2;
}

h1 {
  text-align: left;
}

header h1 {
  text-align: center;
}

a {
  colour: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

p {
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
}

header,
section,
footer {
  padding: 30px;
}

header {
  border-top: 5px solid grey;
}

img {
  height: 300px;
}

.title {
  font-size 48px;
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.banner {
  height: 350px;
  background-image: url(images/watercolor.png.jpg);
  background-size: cover;
  background-position: center;
}
