/*Website Styles*/

* {
  font-size: 100;
}

body {
  background-color: deepskyblue;
  color:indigo;
  font-family: helvetica; arial;
}

h1 {
  color: red;
}

h2 {
  color: green;
}

h3 {
  color: darkgreen;
}

footer {
  color: darkblue;
}

{
  font-famlily: 'castoro', lato;
}
